body {
  font-family: 'Titillium Web', sans-serif;
  color: #717b8f;
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

header {
  height: 550px;
  width: 1440px;
  background-color: #87509c;
  margin: 0 auto;
  color: #fff;
}

.container-header {
  width: 1100px;
  margin: 0 auto;
}

.logo {
  margin-top: 55px;
}

nav {
  margin-top: 70px;
}

.menu {
  margin-right: 40px;
}

.menu a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
}

.menu a:hover {
  content: '';
  color: #fff;
  text-decoration: none;
  background-color: #643a79;
  border-style: hidden;
  border-radius: 5px;
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding-top: 130px;
  text-align: center;
  font-weight: 600;
  max-width: 700px;
  margin: 0 auto;
}

.header_button {
  text-align: center;
  margin-top: 60px;
  margin-left: 400px;
  font-size: 18px;
  background-color: #eb7d4b;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  width: 300px;
  height: 70px;
  border: hidden;
}

.title-wrap {
  text-align: center;
  padding-top: 115px;
}

.team {
  height: 910px;
  width: 1440px;
  background-color: #e7f1f8;
  color: #717b8f;
  margin: 0 auto;
}

.title-wrap h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title-wrap p {
  font-size: 18px;
  margin-top: 10px;
  max-width: 680px;
  margin: 0 auto;
}

.title-wrap img {
  margin-top: -10px;
}

.container  {
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.item-container {
  width: 260px;
  text-align: center;
  margin-bottom: 120px;
}

.item-container h3 {
  font-size: 24px;
  margin-top: 30px;
  color:#717b8f;
  text-transform: uppercase;
 }

.status {
  color: #30bae7;
  margin-top: -5px;
}

.item-container p {
  margin-top: 10px;
  max-width: 220px;
  margin: 0 auto;
  
}

.social_icons {
  margin-top: 35px;
  word-spacing: 10px;
}

.services {
  height: 750px;
  width: 1440px;
  background-color: #17c2a4;
  color: #ffffff;
  margin: 0 auto; 
}
.services h4 {
  text-transform: uppercase;
}

.service-descr {
  max-width: 200px;
  margin: 0 auto;
}
.name_service {
  font-size: 24px;
  margin-top: 40px;
  font-weight: 400;
  color: #ffffff;
}

.rocket_img {
  margin-bottom: -9px;
}

.crayon_img {
  margin-bottom: -6px;
}

.skills {
  height: 655px;
  width: 1440px;
  background-color: #ffffff;
  color: #717b8f;
  margin: 0 auto;
}

.skills p {
    max-width: 600px;
    text-align: center;
}

.procents {
  margin-bottom: -115px;
  font-size: 50px;
}

.skill {
  margin-top: 50px;
  max-width: 220px;
}

.portfolio {
  background-color:#ffdd99;
  height: 1426px;
}

.portfolio_buttons {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 20px;
}

.portfolio_buttons a{
  color: #717b8f;
  background-color: #ebc985;
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 4px;
}

.portfolio_buttons a:hover {
  content: '';
  background-color: #fff;
  text-decoration: none;
}

.portfolio_container {
  width: 540px;
  text-align: center;
  margin-top: -80px;
}

.portfolio_container h5 {
  font-size: 24px;
  color:#717b8f;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 20px;
}

.portfolio_container img {
    margin-top: 50px;
}

.portfolio_button {
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
  margin-left: 600px;
  font-size: 18px;
  background-color: #17c2a4;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  width: 300px;
  height: 70px;
  border: hidden;
}

.what_people_say {
  height: 900px;
  background-color: #d74680;
  color: #ffffff;
} 

article {
  text-align: left;
  max-width: 330px;
  margin-right: 30px;
}

article h3 {
  color: #FFF;
  margin-top: 25px;
  text-transform: uppercase;
}

article .status {
  color: #ee9c8e;
  margin-top: -10px;
}

q {
  font-style: italic;
  max-width: 200px;
}

.item-wrap {
  display:  flex;
  justify-content: space-between;
  align-items: flex-start;
}

.people-wrap {
  width: 540px;
}

.mrg {
  margin-top: 140px;   
}

.forms {
  height: 820px;
  background-color: #3c5499; 
  color: #fff;
}

form {
  height: 280px;
  position: relative;
  width: 840px;
  text-align: justify;
  margin: 50px auto;
}

input {
  width: 400px; 
  display: inline-block;
  background-color: #273a71;
  border: hidden;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  
}

.comments {
  width: 840px;
  display: inline-block;
  height: 200px;
  background-color: #273a71;
  color: #fff;
  border-radius: 5px;
  border: hidden;
  padding: 10px 20px;
  margin-top: 30px;
}

.form_button {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-left: 550px;
  font-size: 18px;
  background-color: #30bae7;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  width: 300px;
  height: 70px;
  border: hidden;
}

footer {
  height: 112px;
  width: 1440px;
  background-color: #344b8e;
  text-align: center;
  word-spacing: 20px;
}

footer a {
  color: #fff;
  margin-top: 50px;
  font-size: 24px;
}

footer li {
  display: inline-block;
  margin-top: 40px;
}

footer a:hover {
  content: '';
  color: #3277b1;
  text-decoration: none;
}

button:hover  {
  content: '';
  display: block;
  box-shadow: 0 10px 10px   #273a71;
}